@import "tailwindcss";

:root {
  --background: #f5f5f5;
  /* --foreground: #171717; */

  --section-alt: #d5d5d5;
  --alt: #4a4a4a;
  --bodyblack: #1a1a1a;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --green-primary: #156b56;
  --green-secondary: #51b168;
}

@theme inline {
  --color-background: var(--background);
  --color-bodyblack: var(--bodyblack);
  /* --color-foreground: var(--foreground); */

  --color-section-alt: var(--section-alt);
  --color-alt: var(--alt);
  --color-green-primary: var(--green-primary);
  --color-green-secondary: var(--green-secondary);

  --text-logo: 29px;

  --text-display-h1: 48px;
  --text-display-h1--line-height: 50px;

  --text-display-h2: 29.7px;
  --text-display-h2--line-height: 40px;

  --text-display-h3: 18.3px;
  --text-display-h3--line-height: 30px;

  --text-body: 16px;
  --text-body--line-height: 23px;
  --text-body--letter-spacing: -0.32px;

  --text-body-medium: 16px;
  --text-body-medium--font-weight: 500;
  --text-body-medium--line-height: 23px;

  --text-body-semibold: 16px;
  --text-body-semibold--font-weight: 600;
  --text-body-semibold--line-height: 23px;

  --text-caption: 14px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

@layer utilities {
  .bg-green-gradient {
    @apply bg-linear-to-br from-green-secondary to-green-primary;
  }
  .border-gradient {
    border: 2px solid transparent;
    background: linear-gradient(var(--color-background)) padding-box,
      linear-gradient(
          to bottom right,
          var(--green-secondary),
          var(--green-primary)
        )
        border-box;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
